micro.sublime-workspace
micro.sublime-project

variables.json
.terraform/
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.retry
.vagrant/
docker-monolith/infra/ansible/ubuntu-xenial-16.04-cloudimg-console.log
*.env

riemers.gitlab-runner
ubuntu-xenial-16.04-cloudimg-console.log

# exclude mongodb-exporter repo
monitoring/exporters/mongodb-exporter/.*
monitoring/exporters/mongodb-exporter/

gcp-stackdriver-docker-key.json
build_info.txt

