version: '3.5'
services:
  post_db:
    image: mongo:${MONGO_VERSION}
    volumes:
      - post_db:/data/db
    networks:
      reddit_back:
        aliases:
          - post_db
          - comment_db
  ui:
    image: ${USERNAME}/ui:${UI_VERSION}
    ports:
      - ${UI_PORT}:9292/tcp
    networks:
      - reddit_front

  post:
    image: ${USERNAME}/post:${POST_VERSION}
    networks:
      - reddit_back
      - reddit_front
  comment:
    image: ${USERNAME}/comment:${COMMENT_VERSION}
    networks:
      - reddit_back
      - reddit_front

volumes:
  post_db:

networks:
  reddit_front:
    name: reddit_front_net
    driver: bridge
  reddit_back:
    name: reddit_back_net
    driver: bridge
