project = "Your project id"
public_key_path = "~/.ssh/appuser.pub"
privat_key_path = "~/.ssh/appuser"
app_disk_image = "reddit-app-base"
db_disk_image = "reddit-db-base"
region = "us-west1"
zone = "us-west1-c"
kube_controller_count = "3"
source_ranges = ["0.0.0.0/0"]
